// biến màu sắc
$blue-1:#427F93;
$blue-2:#1E345E;
$lightGray:#A19B9E;
$white: #ffffff;
$black: #000000;
$yellow-1:#F9D211;

//biến font size
$fs-base: 16px;
$fs-lg: 20px;
$fs-xl:24px;
$fs-2xl:35px;
$fs-h1: 60px;

// biến font weight
$fw-normal :400;
$fw-medium:500;
$fw-bold :700;
$fw-extra-bold :800;